body {
    font-family:sans-serif;
    background-color:#D3D3D3;
    margin:0;
    padding:0;
    text-align:center;
}

a {
    color:#F30;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

a.vincle {
    display:block;
    text-align:right;
    font-style:italic;
    font-size:14px;
    text-decoration:none;
    background:url(../img/arrow2.gif) no-repeat right center;
    padding-right:16px;
}

a.vincle:hover {
    text-decoration:underline;
    /*background:url(../img/fletxa-petita.png) no-repeat right center;*/
}

.gran {
    font-size:150%;
}

#pagina {
    width:959px;
    margin:0 auto;
    padding:0 0 0 50px;
    border:none;
    background-image:url(../img/tiles/shadow-bg.png);
    background-position:top left;
    text-align:left;
}

#pagina,#principal {
    background-repeat:repeat-y;
}

#principal {
    padding:0 49px 0 0;
    background-image:url(../img/tiles/shadow-bg.png);
    background-position:top right;
    position:relative;
    overflow:hidden
}

#principal,#banner {
    width:910px;
}

#cos {
    background-color:#CFCFCF;
    padding:0 21px;
}

.capsa {
    position: relative;
    margin-top:10px;
    margin-bottom:20px;
    border-top:1px solid #BBB;
    border-right:1px solid #888;
    border-bottom:1px solid #888;
    border-left:1px solid #BBB;
    box-shadow:5px 6px 20px #5F5F5F;
    -webkit-box-shadow:5px 6px 20px #5F5F5F;
    -moz-box-shadow:5px 6px 20px #5F5F5F;
    filter:progid:DXImageTransform.Microsoft.dropShadow(color=#5F5F5F,offX=5,offY=6,positive=true);
    background:#FFF;
}

/* bàner */

#banner {
    position:absolute;
    height:89px;
    z-index: 5;
    background:transparent url(../img/tiles/banner-bg.png) repeat left top;
}

#banner a {
    text-decoration:none;
}

#banner h1, #banner h2 {
    margin:0;
}


#logo {
    float:left;
    width:225px;
    height:65px;
    padding-top:12px;
    padding-left:57px;
    margin:0;
}

#logo img {
    border:none;
}

#slogan {
    float:left;
    padding-top:13px;
    padding-left:71px;
}

#slogan h2 {
    font-size:20px;
    line-height:140%;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    color:#323232;
}

/* final bàner */

.texts-slider > li, #slider1 li {
    float:left;
    list-style:none;
}

#banner-slider {
    z-index:1;
    position:relative;
    width:910px;
    height:454px
}

#banner-slider img {
    position:absolute;
    top:0;
    left:0;
    z-index:3
}

ul.images {
    margin-top:0
}

#banner-slider img.no-primera {
    z-index:1
}

#banner-slider ul.texts li {
    display:inline-block;
    margin:0;
    padding:0 40px;
    width:827px;
    list-style-type:none;
    .float:left
}

#slider0 {
    position:absolute;
    bottom:0;
    margin:0;
    padding:0;
    width:910px;
    overflow:hidden;
    z-index:4
}

#slider0 .texts {
    width:2730px;
    margin:0;
    padding:0 0 27px;
    background-color:rgba(255,255,255,0.55)
}

#banner-slider h3 {
    font-size:28px;
    font-weight:400;
    margin-top:13px;
    margin-bottom:0
}

#banner-slider p {
    font-size:16px;
    margin-top:0;
    color:#323232;
    text-align:center
}

/* inici caixa cerca i idioma */
#eines{
    position:absolute;top:3px;right:3px;
    width:155px;
}
#search-theme-form, #llengua{
    margin:0px;
}
input {
    float:left;
}
#edit-search-theme-form-1{
    background-color:#ffffff;
    color:#666666;
    margin:0;
    border: none;
    border: 1px solid;
    border-color: #3F3F3F #FFFFFF #929292 #3F3F3F;
    border-right:none;
    height:15px;
    width: 125px;
}
#searchguifi{
    margin:0;
    border: none;
    border: 1px solid;
    border-color: #3F3F3F #929292 #929292 #FFFFFF;
    border-left:none;
    height:19px;
    width:25px;
    background: #ffffff url('../img/cercar21.gif') no-repeat 0px 0px;
    cursor:pointer;
    text-indent: -9999px;
}
#searchguifi:hover{
    background: #ffffff url('../img/cercar21.gif') no-repeat 0px -19px;
}

#llengua select,#llengua label{
    font-size:11px;
    color: #666666;
}
#llengua{
    margin-top:5px;
    text-align:right;
}
#llengua select{
    width:90px;
    /*float:right;*/
}
/* final caixa cerca i idioma */

/* els 3 botons */

#botons {
    margin: -27px auto 20px auto;
    /*margin: -27px 0 20px;*/
    height:172px;
}

#botons .boto {
    float:left;
    width:274px;
    height:170px;
    margin:0;
    padding:0;
    z-index:5;
    background:#FFF url(../img/tiles/botons-bg.png) repeat-x bottom left;
}

#botons .boto:hover {
    background:#FFF;
}

#botons #boto2 {
    margin:0 20px;
    .margin:0 12px;
    /*margin:0 20px; aixi dona problemes a ie7 */
}

#botons a {
    text-decoration: none;
}

#botons .boto .dins {
    float:left;
    width:274px;
    height:170px;
    background-color:transparent;
    background-image:url(../img/botons.png);
}

#boto1 .dins {
    background-position: bottom left;
}

#boto2 .dins {
    background-position: -297px bottom;
}

#boto3 .dins {
    background-position: -594px bottom;
}

.capsa.boto h3 {
    margin:17px 0 23px 23px;
    font-size:28px;
    font-style:italic;
    color:#F30;
    font-weight:normal;
}

.text-boto {
    font-size:16px;
    font-style:italic;
    color:#323232;
    margin-left:23px;
}

a:hover .text-boto {
    color:#000;
}

#botons .fletxa {
    display:none;
    width:74px;
    height:44px;
    position: absolute;
    bottom:13px;
    left: 182px;
    background:transparent url(../img/fletxa-gran.png) no-repeat top left;
}

#botons a:hover .fletxa {
    display:block;
}

/* final dels 3 botons */

/* capsa central */

#central {
    padding:15px;
	min-height:210px;
}

/* caixa central amb pestanyes */
.tabbed_area {
    width: 580px;
    /*border:1px solid #494e52;*/
    background-color:#E5E5E5;  
    padding:8px;
    margin:0px;
/*margin:15px;*/
}  
ul.tabs {
    margin:5px 0 7px 0;
    padding:0 0 0 5px;
}
ul.tabs li {
    list-style:none;
    display:inline;
}
ul.tabs li a {
    background-color:#464c54;
    /*color:#ffebb5;*/
    color: #FFFFFF;
    padding:8px 14px 8px 14px;
    text-decoration:none;
    font-size:9px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    border:1px solid #464c54;
    -moz-border-radius-topright:4px;
    -moz-border-radius-topleft:4px;
    -webkit-border-top-right-radius:4px;
    -webkit-border-top-left-radius:4px;
    -border-top-right-radius:4px;
    -border-top-left-radius:4px;
}
ul.tabs li a:hover {
    background-color:#2f343a;
    border-color:#2f343a;
}
ul.tabs li a.active {
    background-color:#ffffff;
    color:#FF3300;
    border:1px solid #464c54;
    border-bottom: 1px solid #ffffff;
}
.content {
    background:#fff url(../img/tiles/botons-bg.png) repeat-x bottom;
    padding:10px;
    border:1px solid #464c54;
}
#content_2, #content_3, #content_4 { display:none; }
.content ul{
    list-style-image: url(../img/arrow2.gif);
}
.content li, .content p{
    font-size:12px;
    margin:3px 0 3px 0;
}

.content a.rsswidget{
    color:#333;
}

/* estils de barra nodes operatius comentada al codi de la plana */
#nodesoperatius{
    position: relative; /* IE is dumb */
    display: block;                 
    float: left;     
    width: 540px; 
    height: 20px; 
    margin: 0 0 15px 0; 
    background:#fff url(../img/bgnodes_operatius.gif) repeat-y top;
    padding:0;
}
#nodesoperatius div{
    position: relative;
    float:left; 
    height: 20px; 
    width: 75%; 
    text-align:right;
}
#nodesoperatius div span{
    position: absolute; 
    right: -5px; 
    top: -2px; 
    display: block; 
    background: url(../img/marcador.gif) no-repeat right top; 
    height: 50px; 
    width: 100%; 
    text-align: center; 
    overflow: hidden;
    font-size:12px;
    line-height:24px;
}
/* fi estils de barra nodes operatius comentada al codi de la plana */

/* fi caixa central amb pestanyes */

.quadre {
    margin:15px;
    padding:5px;
}

.gris {
    background:#E5E5E5;
}

.blanc {
    background:#FFF;
}

.capsa h3 {
    margin:0 0 5px;
    font-size:21px;
    font-weight:normal;
    color:#333;
}

#apadrinaments,#fundacio {
    position:absolute;
    right:0;
    width:210px;
}

#fundacio {
    top:0px;
    height:75px;
}
#apadrinaments {
    top:105px;
}
#apadrinaments p{
    font-size:11px;
    color:#6F6F6F;
    margin: 0pt 0pt 5px;	
}
.graph {
    position: relative; /* IE is dumb */
    width: 200px; 
    border: 1px solid #FF8A00; 
    padding: 1px;
    margin-bottom:3px;
}
.graph .bar { 
    display: block;
    position: relative;
    background: #FF8A00; 
    text-align: center; 
    color: #333; 
    height: 10px; 
    line-height: 10px;
    font-size:11px;            
}

.data-noticia {
    color:#666;
}

.titular {
    color:#F30;
    font-size:12px;
}

/* final capsa central */
 
#patrocinadors {
    padding:15px 22px;
    background:#FFF;
    z-index:20;
}

#patrocinadors p {
    margin:5px 0;
}

/* Inici Slideshow patrocinadors */
#slider1 {
    height:60px;
    padding:0;
    margin-left:13px;
}

#slider1 .jq-ss-crop {
    margin:5px;
    text-align:center;
/*border:1px solid #FFFFCC;*/
    float:left;
}

.slider-arrow {
    width:12px;
    height:29px;
    margin-top:5px;
    display:block;
}

#slider0 .slider-arrow {
    position:absolute;
    bottom:63px
}

#slider0 .left.slider-arrow {
    left:10px
}

#slider0 .right.slider-arrow {
    right:10px
}

.left.slider-arrow {
    background-image:url(../img/esquerra.png)
}

.right.slider-arrow {
    background-image:url(../img/dreta.png)
}

#slider1 .view {
    margin:0 20px;
    width:730px;
    height:60px;
    overflow:hidden;
}

#slider1 .images {
    width:3818px!important;
    padding:0;
}

#slider1 .images li img {
    border:0;
}
/* final slideshow patrocinadors */

#peu {
    background-color:#AAA;
    border-top:1px solid #AAA;
    padding:33px 59px 20px;
    width:792px;
}

#peu .columna {
    display:inline-block;
    vertical-align:top;
    margin-top:0;
    margin-bottom:0;
    .display:inline
}

.quatre.columnes .columna {
    width:22%;
    margin-right:1%;
    margin-left:1%;
    padding:0;
}

#peu ul li {
    list-style-type:none;
}

.titolpeu,#peu a {
    display:block;
    width:100%;
    line-height:125%;
    padding-top:4px;
    font-size:12px;
    border-bottom:1px dotted #333;
}

.titolpeu {
    color:#FFF;
    font-weight:700;
    padding-bottom:4px;
}

#peu a {
    padding-bottom:2px;
    color:#333;
    text-decoration:none;
}

#peu a:hover {
    color:#000;
    border-bottom:1px solid #333;
}