body {
    font-family: sans-serif;
    background-color: #D3D3D3;
    margin: 0;
    padding: 0;
    text-align: center;
}

#pagina {
    width: 959px;
    margin: 0 auto;
    padding: 0 0 0 50px;
    border: none;
    background-image: url('../img/tiles/shadow-bg.png');
    background-position: top left;
    text-align: left;
}

#pagina, #principal {
    background-repeat: repeat-y;
}

#principal {
    width: 910px;
    padding: 0 49px 0 0;
    background-image: url('../img/tiles/shadow-bg.png');
    background-position: top right;
}

#cos {
    background-color: #CFCFCF;
}

#peu {
    background-color: #BABABA;
    border-top: 1px solid #AAAAAA;
    padding: 50px 59px 20px 59px;
    width: 792px;
}

#peu .columna {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 125%;
}

.quatre.columnes .columna {
    width: 22%;
    margin-right: 1%;
    margin-left: 1%;
    padding: 0;
}

#peu ul li {
    list-style-type: none;
}

#peu a {
    font-size: 12px;
    color: #2E2E2E;
    text-decoration: none;
}

#peu a:hover {
    border-bottom: 1px solid #666666;
}
