body {
    font-family:sans-serif;
    background-color:#D3D3D3;
    margin:0;
    padding:0;
    text-align:center;
}

a {
    color:#FF3300;
}

a:hover {
    text-decoration:underline;
}

a.vincle {
    font-style:italic;
    font-size:14px;
    float:right;
    clear:right;
    text-decoration:none;
}

.gran {
    font-size:150%;
}

#pagina {
    width:959px;
    margin:0 auto;
    padding:0 0 0 50px;
    border:none;
    background-image:url(../img/tiles/shadow-bg.png);
    background-position:top left;
    text-align:left;
}

#pagina,#principal {
    background-repeat:repeat-y;
}

#principal {
    padding:0 49px 0 0;
    background-image:url(../img/tiles/shadow-bg.png);
    background-position:top right;
}

#principal,#banner {
    width:910px;
}

#cos {
    background-color:#CFCFCF;
    padding:0 21px;
}

.capsa {
    position: relative;
    margin-top:10px;
    margin-bottom:20px;
    border-top:1px solid #BBB;
    border-right:1px solid #888;
    border-bottom:1px solid #888;
    border-left:1px solid #BBB;
    box-shadow:5px 6px 20px #5F5F5F;
    -webkit-box-shadow:5px 6px 20px #5F5F5F;
    -moz-box-shadow:5px 6px 20px #5F5F5F;
    filter:progid:DXImageTransform.Microsoft.dropShadow(color=#5F5F5F,offX=5,offY=6,positive=true);
    background:#FFF;
}

/* bàner */

#banner {
    position:relative;
    height:89px;
    z-index: 5;
    background:transparent url(../img/tiles/banner-bg.png) repeat left top;
}

#banner a {
    text-decoration:none;
}

#banner h1, #banner h2 {
    margin:0;
}


#logo {
    float:left;
    width:225px;
    height:65px;
    padding-top:12px;
    padding-left:57px;
    margin:0;
}

#logo img {
    border:none;
}

#slogan {
    float:left;
    padding-top:13px;
    padding-left:71px;
}

#slogan h2 {
    font-size:20px;
    line-height:140%;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    color:#323232;
}

/* final bàner */

#banner-slider {
    z-index:1;
}

/* els 3 botons */

#botons {
    margin: -27px 0 20px;
    height:172px;
}

#botons .boto {
    float:left;
    width:274px;
    height:170px;
    margin:0;
    padding:0;
    z-index:5;
    background:#FFF url(../img/tiles/botons-bg.png) repeat-x bottom left;
}

#botons .boto:hover {
    background:#FFF;
}

#botons #boto2 {
    margin:0 20px;
}

#botons a {
    text-decoration: none;
}

#botons .boto .dins {
    float:left;
    width:274px;
    height:170px;
    background-color:transparent;
    background-image:url(../img/botons.png);
}

#boto1 .dins {
    background-position: bottom left;
}

#boto2 .dins {
    background-position: -297px bottom;
}

#boto3 .dins {
    background-position: -594px bottom;
}

.titol-boto {
    margin:17px 0 23px 23px;
    font-size:28px;
    font-style:italic;
    color:#F30;
    font-weight:normal;
}

.text-boto {
    font-size:16px;
    font-style:italic;
    color:#323232;
    margin-left:23px;
}

a:hover .text-boto {
    color:#000;
}

#botons .fletxa {
    display:none;
    width:74px;
    height:44px;
    position: absolute;
    bottom:13px;
    left: 182px;
    background:transparent url(../img/fletxa-gran.png) no-repeat top left;
}

#botons a:hover .fletxa {
    display:block;
}

/* final els 3 botons */

/* capsa central */

#central {
    padding:15px 10px 10px 20px;
}

.quadre {
    background:transparent;
}

.quadre:hover {
    background:#DADADA;
}

#projectes {
    width:480px;
}

#projectes ul li {
    list-style-type:none;
    display:inline-block;
    margin:5px 0 0 15px;
    width:203px;
}    

#dades,#fundacio {
    position:absolute;
    right:15px;
}

#dades {
    top:15px;
}

#fundacio {
    top: 150px;
}

#actualitat p {
    font-size:12px;
}

/* final capsa central */

#patrocinadors {
    padding:15px 22px;
    background:#FFF;
    z-index:20;
}

#patrocinadors p {
    margin:5px 0;
}

.titolpatrocinadors {
    color:#4D4D4D;
    font-size:22px;
}

a.padrins,a.padrins:visited,a.padrins:active {
    color:#FF5328;
    display:block;
    width:100%;
    text-align:right;
    font-size:14px;
    text-decoration:none;
    font-weight:700;
    font-style:italic;
}

/* Slideshow patrocinadors */
#screen {
    height:60px;
    padding:0;
    margin-left:13px;
}

#screen li {
    float:left;
    list-style:none;
}

#screen .jq-ss-crop {
    margin:5px;
    text-align:center;
/*border:1px solid #FFFFCC;*/
    float:left;
}

#left,#right {
    margin-top:15px;
    display:block;
}

#view {
    margin:0 20px;
    width:730px;
    height:60px;
    overflow:hidden;
}

#images {
    width:3818px!important;
    width:3822px;
    padding:0;
}

#images li img {
    border:0;
}

/* fin slideshow patrocinadors */
#peu {
    background-color:#AAA;
    border-top:1px solid #AAA;
    padding:33px 59px 20px;
    width:792px;
}

#peu .columna {
    display:inline-block;
    vertical-align:top;
    margin-top:0;
    margin-bottom:0;
}

.quatre.columnes .columna {
    width:22%;
    margin-right:1%;
    margin-left:1%;
    padding:0;
}

#peu ul li {
    list-style-type:none;
}

.titolpeu,#peu a {
    display:block;
    width:100%;
    line-height:125%;
    padding-top:4px;
    font-size:12px;
    border-bottom:1px dotted #333;
}

.titolpeu {
    color:#FFF;
    font-weight:700;
    padding-bottom:4px;
}

#peu a {
    padding-bottom:2px;
    color:#333;
    text-decoration:none;
}

#peu a:hover {
    color:#000;
    border-bottom:1px solid #333;
}